<!doctype html>
<html>
<head lang-="ko">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web admin for json</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            console.log('ready to go');
            renew_version_dropdown_navbar('current');
            window.setTimeout(function() {
                $('#reload').click();
            }, 1000);
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Web Admin : Json</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Version
            </a>
            <div id="version-dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="empty-dropdown-item" href="#" style="display:none">Empty</a>
            </div>
          </li>
          <li class="nav-item active mr-2">
            <!--<a class="nav-link" id="reload" href="#">Reload <span class="sr-only">(current)</span></a>-->
              <button id="reload" type="button" class="btn btn-secondary">
                Reload
            </button>
          </li>
          <li class="nav-item mr-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                New Card
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#saveModal">
                Save & Deploy
            </button>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" id="search" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="card-columns mt-3" id="item-deck">
    </div>
<div class="col-md empty-card-col" style="display:none;">
    <div class="empty-card" style="width: 18rem;">
      <div class="card-header clearfix">
          <div class="card-header-title float-left font-weight-bold">Empty Card</div>
          <div class="card-add-item float-right">
            <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 15h4.071v2h-4.071v4.071h-2v-4.071h-4.071v-2h4.071v-4.071h2v4.071zm-8 6h-12v-2h12v2zm0-4.024h-12v-2h12v2zm0-3.976h-12v-2h12v2zm12-4h-24v-2h24v2zm0-4h-24v-2h24v2z"/></svg>
          </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item empty-item" style="display:none">Empty Item</li>
      </ul>
    </div>
</div>
<li class="list-group-item empty-input" style="display:none;">
    <form>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control key" placeholder="Item Code">
        </div>
        <div class="col">
          <input type="text" class="form-control value" placeholder="Item Name">
        </div>
        <div class="delete m-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg>
        </div>
      </div>
    </form>
</li>
<div id="createModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        <label for="inputCardName">Card Name</label>
        <input type="text" class="form-control" id="inputCardName" placeholder="Enter card name">
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="modelSave">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div id="saveModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to save data & deploy json file into the server?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="jsonSave">Save & Deploy</button>
      </div>
    </div>
  </div>
</div>
</body>
<script src="{{ url_for('static', filename='js/jguiadminjson.js') }}"></script>
</html>